template {
  background-color: #ffb703;
}
.intro {
  display: flex;
  justify-content: right;
}
.name {
  line-height: 0.8;
}
.tagLine {
  margin-top: 3%;
  margin-left: 3%;
  line-height: 0.4;
}
h2 {
  text-align: left;
  font-size: 2vw;
}
.dummy {
  text-align: right;
  margin-right: 1vw;
  margin-left: 1vw;
  color: white;
  font-size: 1.8vw;
}
h3 {
  color: #888;
  text-align: left;
  font-size: 2vw;
}
@media screen and (max-width: 768px) {
  /* mobile */
  h1 {
    text-align: left;
    margin-bottom: 0;
    margin-left: 2%;
    margin-top: 5%;
    font-size: 10vw;
  }
  .dummy {
    text-align: right;
    margin-right: 1vw;
    color: white;
    font-size: 12px;
  }
  .code-block {
    background: "red";
    text-align: left;
  }
  .code-container {
    overflow: hidden; /* Clip content of child */
  }
}
@media screen and (min-width: 768px) {
  .dummy {
    text-align: right;
    margin-right: 1vw;
    color: white;
    font-size: 1.8vw;
  }
  h1 {
    text-align: left;
    margin-bottom: 0;
    margin-left: 2%;
    margin-top: 0;
    font-size: 10vw;
  }
  .code-block {
    width: 50vw;
    background: "red";
    text-align: left;
  }
  .code-container {
    display: flex;
    overflow: hidden; /* Clip content of child */
    flex-direction: row;
    justify-content: right;
    margin-right: 1vw;
    font-size: 22;
  }
}